[credential]
	helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
[diff]
    tool = default-difftool
[difftool "default-difftool"]
    cmd =  --wait --diff $LOCAL $REMOTE
[merge]
    tool = 
[mergetool ""]
    cmd =  --wait $MERGED
[core]
	editor =  --wait
